@using PropertyBrokers.OrchardCore.WorkflowAdditions.GoogleAnalyticsEvent;
@model ActivityViewModel<GoogleAnalyticsEventTask>

<h4 class="card-title"><i class="fas fa-tag"></i>@T["Google Analytics Event"]</h4>
<p>@T["Send event to Google Analytics"]</p>