@using PropertyBrokers.OrchardCore.WorkflowAdditions.GoogleTagManager;
@model ActivityViewModel<GoogleTagManagerTask>

<h4 class="card-title"><i class="fas fa-tag"></i>@T["Google Tag Manager"]</h4>
<p>@T["Send event to Google Tag Manager"]</p>