@model OrchardCore.Workflows.ViewModels.ActivityViewModel<PropertyBrokers.OrchardCore.WorkflowAdditions.GoogleAnalytics.GoogleAnalyticsTask>
@using OrchardCore.Workflows.Helpers
@using OrchardCore.Workflows.ViewModels
@using OrchardCore.Email.Workflows.Activities

<header>
    <h4><i class="fa fa-chart-line" aria-hidden="true"></i>@Model.Activity.GetTitleOrDefault(() => T["Google Analytics"])</h4>
</header>

<span>@T["Sends <em>{0}</em> event to Google Analytics", Model.Activity.EventName]</span>

