@using PropertyBrokers.OrchardCore.WorkflowAdditions.GoogleAnalyticsManager;
@model ActivityViewModel<GoogleAnalyticsManagerTask>

<h4 class="card-title"><i class="fas fa-tag"></i>@T["Google Tag Manager"]</h4>
<p>@T["Send event to Google Tag Manager"]</p>